.header__nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}
@media screen and (max-width: 1126px) {
    .header__nav{
        flex-direction: column;
        align-items: center;
    }
}
