.cars__item-button-credit {
    margin: 0 auto;
    width: 480px;
    height: 60px;
    margin-bottom: 10px;
    background-color: black;
    border: none;
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13.563px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.cars__item-button-credit:hover {
    cursor: pointer;
}