.cars__item-button-complekt {
    margin: 0 auto;
    width: 480px;
    height: 60px;
    background-color: none;
    border: 1px solid black;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13.563px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.cars__item-button-complekt:hover {
    cursor: pointer;
}