.intro__message{
    width: 56px;
    height: 56px;
    padding: 16px 16px 15px 16px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28.05px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 55px;
    margin-bottom: 16px;
    margin-right: 261px;
}
