.cars__item-button-color-grey1{
    width: 20px;
    height: 20px;
    background-color: #b9b9b9;
    border-radius: 50%;
    border: none;
}
.cars__item-button-color-grey1:hover{
    cursor: pointer;
}
