.intro{
    display: flex;
    flex-direction: row;
    background-color: #dbdbdb;
    height: 205px;
}
@media screen and (max-width: 1024px) {
    .intro{
        flex-direction: column;
        align-items: center;
        
    }
}
