.cars__item-button-instock {
    position: absolute;
    top: -23px;
    right: 42px;
    background-color: #00cabf;
    width: 187px;
    height: 42px;
    border: none;
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.cars__item-button-instock {
    cursor: pointer;
}