.lead__text {
    margin: 0;
    margin-top: 57px;
    text-align: center;
    padding-top: 17px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    color: white;
    position: absolute;
    width: 1140px;
    height: 148px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 38.72%, rgba(0, 0, 0, 0.50) 61.63%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(5.300000190734863px);
}